extends layout

// results, user
block content
    script(type='text/javascript' src='../../javascripts/commons.js')

    - if(user[0] != null) {
    button(onclick='movepagewithnumber("/board/modify/",' + results[0].id + ')') 글 수정
    form(action='/board/delete/' + results[0].id, method='post')
        button() 글 삭제
    - }

    button(onclick='movepage("/board")') 글 목록으로 돌아가기

    h1= results[0].title
    h3= results[0].name
    p= results[0].subtitle
    p= results[0].writetime
    p= results[0].moditime

    - if(results[0].files != undefined) {
        - if(results[0].files.split('/').length != 0) {
            - for(var i = 0; i < results[0].files.split('/').length; i++) {
                img(src="/images/" + results[0].files.split('/')[i], alt= results[0].files.split('/')[i])
            -}
        - }
    - }